*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --color:#7f6ee1;
    --primary:#fbc324;
    --secondary:#121020;
    --content-color:#ffffffe6;
}

body{
    background-color: var(--secondary);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--color); 
    border-radius: 10px;
}

.toggle-btn{
    display: none;
    cursor: pointer;
}

.dropdown{
    position: absolute;
    right: 0;
    top:60px;
    width: 300px;
    display: none;
    flex-direction: column;
    background-color: #121020e4;
    backdrop-filter: blur(10px);
    border-radius: 20px;
}
.click{
    display: flex;
}
.dropdown a{
    margin: 10px 0px 0 0px;
    color: var(--content-color);
    text-decoration: none;
    letter-spacing: 0.2px;
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
}
.navbar{
    padding-left: 20px;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    top:0;
    right: 0;
    font-family: sans-serif;
}

.sticky{
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    background-color:var(--secondary) ;
    transition: all 0.5s linear;
}
.links a{
    margin: 0 10px 0 10px;
    color: var(--content-color);
    text-decoration: none;
    letter-spacing: 0.2px;
    font-size: 15px;
    border:2px solid var(--secondary);
    padding: 10px;
    border-radius: 20px;
}

.links a:hover{
    border: 2px solid var(--content-color);
    background-color: var(--content-color);
    color: var(--secondary);
    transition: all 0.5s ease-in-out;

}
.active{
    border: 2px solid var(--content-color);
    background-color: var(--content-color);
    color: var(--secondary);
}
section{
    padding: 60px 60px 0 60px;
}

#home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#home  div{
    margin-bottom:20px;
}

#home  div .title{
    color: var(--color);
    font-size: 35px;
    font-weight: 800;
    font-family: sans-serif;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.6;
}

#home  div .sub-title{
    color: var(--primary);
    font-size: 25px;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.6;
}

#home button{
    background-color: var(--primary);
    padding: 20px 30px 20px 30px;
    border: 3px solid var(--secondary);
    margin: 10px;
    cursor: pointer;
    border-radius: 40px;
    font-size: 15px;
    color: var(--content-color);
    font-weight: 600;
    letter-spacing: 1px;
    width: auto;
}

#home button:hover{
    background-color: var(--secondary);
    border: 3px solid var(--primary);
}
#about-event{
    height: auto;
}

#about-event .title{
    color: var(--primary);
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    padding: 20px;
}

#about-event .about-event-content{
    color: var(--content-color);
    line-height: 1.6;
    letter-spacing: 0.5px;
    font-family: sans-serif;
    text-align: justify;
}

#about-organizer .title{
    color: var(--primary);
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    padding: 20px;
}

#about-organizer .about-organizer-content{
    color: var(--content-color);
    line-height: 1.6;
    letter-spacing: 0.5px;
    font-family: sans-serif;
    text-align: justify;
}

.logo-image{
    text-align: center;
}
#conferencechair{
    height: auto;
}


#conferencechair .title{
    color: var(--primary);
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    padding: 20px;
}

.conference-chair-image{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.conference-chair-image img{
    border: 3px solid white;
    border-radius: 50%;
}

.conference-chair-image .image-holder{
    color: var(--content-color);
    font-family: sans-serif;
}

.conference-chair-content{
    padding-top: 10px;
    color: var(--content-color);
    line-height: 1.6;
    letter-spacing: 0.5px;
    font-family: sans-serif;
    text-align: justify;
}



#orgainizing-team {
    height: auto;
}
#orgainizing-team .title{
    color: var(--primary);
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    padding: 20px;
}



.image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.image-container .item{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    margin: 20px;
    margin-bottom: 20px;
    border: 2px solid var(--primary);
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 1.5px 8px #0b0a14;
}

.image-container .item .name{
    margin-top: 5px;
    color: white;
    font-family:sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.image-container .item .position {
    color: rgba(255, 255, 255, 0.575);
    font-family:sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding-top: 3px;
}
.image-container .item img:hover{
    border: 5px solid var(--color);
    transition: border 0.1s;
    cursor: pointer;
}
#key-dates{
    height: auto;
}
#key-dates .title{
    color: var(--primary);
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    padding: 20px;
}

.list-container .key-dates-content{
    display: flex;
    justify-content: center;
    align-items: center;
}


#key-dates .key-dates-content{
    color: var(--content-color);
    line-height: 1.6;
    letter-spacing: 0.5px;
    font-family: sans-serif;
}



#downloads{
    height: 100vh;
}

#downloads .title{
    color: var(--primary);
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    padding: 20px;
}

.download-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.download-container button{
    background-color: var(--primary);
    padding: 20px 30px 20px 30px;
    border: 3px solid var(--secondary);
    margin: 10px;
    cursor: pointer;
    border-radius: 40px;
    font-size: 15px;
    color: var(--content-color);
    font-weight: 600;
    letter-spacing: 1px;
    width: auto;
}

.download-container button:hover{
    background-color: var(--secondary);
    border: 3px solid var(--primary);
}

#registration-fee{
    height: auto;
}

#registration-fee .title{
    color: var(--primary);
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    padding: 20px;
}

.registration-fee-content{
    padding-top: 10px;
    color: var(--content-color);
    line-height: 1.6;
    letter-spacing: 0.5px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
}


#conference-topic{
    height: auto;
}

#conference-topic .title{
    color: var(--primary);
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    padding: 20px;
}

.conference-topic-container{
    padding-top: 10px;
    color: var(--content-color);
    line-height: 1.6;
    letter-spacing: 0.5px;
    display: flex;
    text-align: left;
    justify-content: space-around;
    gap: 50px;
    flex-wrap: wrap;
}

.block{
    width: 400px;
}
.block-title{
    font-size: 20px;
    text-decoration: underline;
}
#venue{
    height: auto;
}


.venue-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#venue .title{
    color: var(--primary);
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    padding: 20px; 
}


#venue .venue-content{
    color: var(--content-color);
    line-height: 1.6;
    letter-spacing: 0.5px;
    font-family: sans-serif;
    text-align: center;
    font-weight: 600;
}


#footer{
    height: 150px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.744);
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: sans-serif;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.68);
}

.footer-container{
    margin-top: 50px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}




.fb-customerchat {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.hidden{
    opacity: 0;
    filter: blur(10px);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0px);
    transition: all 1s;
}


.progress-container {
    width: 100%;
    height: 5px;
    background-color: var(--secondary);
    position: fixed;
    bottom: 0;
    z-index: 9999;
}

.progress-bar {
    height: 5px;
    background-color: var(--content-color);
    width: 0;
}


.go-up {
    position: fixed;
    bottom: 20px;
    right: 30px;
    display: none;
    z-index: 9999;
}

.go-up a {
    text-decoration: none;
    color: var(--color);
    font-size: 30px;
}

.go-up a:hover {
    color: var(--primary);
}
